<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <style media="screen">
    body{
      margin-top: 50px;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#qr').click(function(){
        alert('<%= data %>');
        console.log('<%= data %>');
      })
    })
  </script>
</head>
<body>
  <div id="stage">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Waiting for players</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
          <div class="col-xs-4">
            <div class="col-xs-6"></div>
            <div id="playerContainer1" class="col-xs-6"></div>
          </div>
          <div class="col-xs-4 text-center">
            <img id="qr" src="<%= qr %>" ></img>
          </div>
          <div class="col-xs-4">
            <div id="playerContainer2" class="col-xs-6"></div>
            <div class="col-xs-6"></div>
          </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4"></div>
                <div class="col-xs-4 text-center">
                  <input id="startGameButton" type="button" class="btn btn-info" value="Waiting for players">
                </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
  </div>
  <div id="gFrame"></div>
  <div id="loader" class="sk-cube-grid" style="display: none; margin-top 20%;">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
</div>
  <script type="text/javascript">
    $(function(){
      var socket = io.connect();
      var data = '<%= data %>'
      var playerLimit = '<%= playerLimit %>';
      var connectedPlayers = 0;
      console.log(data);

      //Regestring the socket..
      socket.emit('register', {id: data, type: 'output'});


      //Add the name-tag on thr side of QR.
      socket.on('new player connected', function(data){
        if(connectedPlayers == 0){
          $('#playerContainer1').html('<div class="well text-center">'+data.nick+'</div>');
          connectedPlayers++;
          console.log(connectedPlayers);
        }
        else{
          $('#playerContainer2').html('<div class="well text-center">'+data.nick+'</div>');
          connectedPlayers++;
            console.log(connectedPlayers);
        }
        if(connectedPlayers == playerLimit){

          //Change the color of the start button..
          $('#startGameButton').addClass('btn-success');
          $('#startGameButton').removeClass('btn-info');
          $('#startGameButton').attr('value', 'Start Game!');
          $('#startGameButton').click(function(){
            $('#stage').html("");
            $('#loader').css('display', '');

            //Faking some load-time here test the loader..
            setTimeout(function(){
              $('#gFrame').load('/gameframe', function(){
                $('#loader').css('display', 'none');
                  startGame();
                  socket.emit('start game');
              });
            }, 1000)
          })
        }
      })

      //Registering some comminucation events
      socket.on('new message', function(data){
        console.log(data.msg);
        $('#chat').append(data.nick+' -> '+data.msg + "<br/>");
      });
        socket.on('updateGameState', function(data){
            updatePositons(data);
        });
    });

  </script>


</body>

</html>
